
.topnav  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  margin-right: 50px;
  background-color: pink;
}

.socials img{

  text-align: left;
  width: 50px;
  height: 50px
}
.socials{
  display: flex;
  flex-direction: row;
  margin: 5px;
  width: 200px;

  /* background-color: red; */


  

}
.socials a{
  margin: 10px;


}
.links{
  width: 400px;



}
a{
  text-decoration: none;
}

nav .navbar{

  height: 80;
  width: 30
}

.info {
  text-align: right;
}

li {
  list-style-type: none;
  color: aliceblue;
  display: inline;
  border: 10%;
  border-color: red;
  padding: 2%;
}


/* 
.navbar .content .socials {
  display: flex;
  flex-direction: row;
  align-content: right;
  justify-content: space-between;
  width: 100px;
  margin-right: 50px;
} */


/* 
.navbar {
  background-color: pink;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
    align-items: center;
  padding: 0 var(--side-padding)
} */